.main {
  height: 80px;
  background-color: rgb(95, 160, 101);
  display: flex;
  align-items: center;
  padding: 0 2rem;
  gap: 2rem;
}

.logo {
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  .main {
    background-color: rgb(150, 44, 44);
  }
}
